.blogs {
  position: relative;
  top: 400px;
  height: auto;
  width: 1400px;
  /* background-color: green; */
}
.blogs h3{
    color: #E6017F;
}
.blogs h1{
    color: #08203A;
}
.column {
  flex: 33.33%;
  height: 350px;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  background: linear-gradient(132.22deg, #e2ecf7 15.54%, #ffffff 97.17%);
  filter: drop-shadow(10px 10px 60px #9ca8ba);
  text-align: center;
  transition: all 0.5s ease;
}

.column:hover{
  transform: translateY(-0.50em);
}

.column img{
    position: relative;
   
}
.container {
  display: flex;
}
