.contact {
  position: relative;
  top: 80px;
  height: 800px;
  width: 1400px;
  /* background-color: red; */
  justify-content: center;
}
.conlabel {
  position: relative;
  text-align: left;
  left: 9rem;
  margin: 20px;
  right: 15rem;
}
.conlabel h5 {
  color: #e6017f;
}
.conlabel h2 {
  color: #08203a;
}
.formdiv {
  position: relative;
  background: linear-gradient(132.22deg, #e2ecf7 15.54%, #ffffff 97.17%);
  filter: drop-shadow(10px 10px 60px #9ca8ba);
  height: 500px;
  width: 450px;
  border-radius: 20px;
  left: 10rem;
}
.form-group {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 3px;
}
.contactdiv {
  position: relative;
  background: linear-gradient(132.22deg, #e2ecf7 15.54%, #ffffff 97.17%);
  filter: drop-shadow(10px 10px 60px #9ca8ba);
  height: 500px;
  width: 450px;
  border-radius: 20px;
  left: 47rem;
  bottom: 31.3rem;
}
.contactdiv img {
  position: absolute;
  height: 21rem;
  width: 27rem;
  object-fit: cover;
  top: 10px;
  left: 8px;
  border-radius: 5px;
}
.contactdiv .contactme {
  color: #08203a;
  background: linear-gradient(
    115deg,
    rgba(214, 206, 239, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: justify;
  height: 30%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 21.9rem;
}
.contactme label{
  font-size: 18px;
  position: relative;
  justify-content: right;
  text-align: justify;
  left: 180px;
  top: 35px;
}

input {
  font-size: 12px;
}
textarea {
  position: relative;
  height: 100px;
  width: 400px;
  font-size: 12px;
  margin: 20px;
}
button {
  text-decoration: none;
  color: black;
  border-radius: 10px;
  border: 2px solid grey;
  margin: 0px;
  padding: 2px 15px;
  background: linear-gradient(90deg, #e2ecf7 50%, #ffffff 100%);
  transition: all 0.5s ease;
}

button:hover{
  border: 2px solid transparent;
  color: white;
  /* background: linear-gradient(45deg, #e6017f 0%, #670db0 100%); */
  box-shadow: inset 0 0 12px 12px white, inset 0 0 3px 2px white;
  background: linear-gradient(to right, #e6017f, #670db0);
}