.conlabel{
  position: relative;
  text-align: left;
  margin: 20px;
  right: 15rem;
}
.formdiv {
  position: relative;
  background: linear-gradient(132.22deg, #E2ECF7 15.54%, #FFFFFF 97.17%);
  filter: drop-shadow(10px 10px 60px #9CA8BA);
  height: 500px;
  width: 450px;
  border-radius: 20px;
  right: 15rem;
}
.contactdiv {
  position: relative;
  background: linear-gradient(132.22deg, #E2ECF7 15.54%, #FFFFFF 97.17%);
  filter: drop-shadow(10px 10px 60px #9CA8BA);
  height: 500px;
  width: 450px;
  border-radius: 20px;
  left: 20rem;
  bottom: 31.3rem;
}
.contactdiv img{
    position: absolute;
    height: 20rem;
    left: 50px;
}
.contactdiv .contactme{
    color: #08203A;
    background: linear-gradient(115deg, rgba(214,206,239,1) 0%, rgba(255,255,255,1) 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 30%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 21.9rem;
}
