.experience {
    position: relative;
    top: 76px;
    height: 500px;
    width: 1400px;
    background-color: yellow;
  }
  .experience h3 {
    color: #e6017f;
  }
  .vertical-line1 {
    position: absolute;
    top: 100px;
    left: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 10px;
    background-color: #e6017f;
    border-radius: 10px;
  }
  
  .dot1 {
    position: relative;
    top: -14px;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 15px 0;
  }
  
  .two-column-layout1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 700px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the content */
  }
  
  .two-column-layout1 > div {
    position: relative;
    top: 50px;
    width: 48%; /* Adjust the width to leave some space between the columns */
    margin-bottom: 15px; /* Adjust the margin as needed */
    color: black;
    font-size: 24px;
    font-weight: 400;
    font-family: "poppins", Helvetica, sans-serif;
  }
  