.profile-container {
  position: relative;
  /* background-color: #E2ECF7; */
  background: linear-gradient(
    90deg,
    rgba(226, 236, 247, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  top: 70px;
  height: 740px;
  width: 1800px;
  align-items: center;
  /* background-color: red; */
}

.sidename{
  opacity: 0.3;
  top: 250px;
  left: -20px;
  position: absolute;
  transform: rotate(-90deg);
}
.sidename h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5em;
  font-weight: bolder;
  color: #E9F1F9;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px #F2F6FA;
    line-height: 80%;
}
.bio {
  position: relative;
  font-family: "poppins", Helvetica, sans-serif;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  right: 200px;
}
.bio h1 {
  position: relative;
  color: #000000;
  font-size: 72px;
  font-weight: bolder;
  float: left;
  top: 200px;
}
.bio h1 span {
  color: #e6017f;
}
.bio h3 {
  position: relative;
  color: #000000;
  font-size: 32px;
  font-weight: bolder;
  float: left;
  right: 388px;
  top: 280px;
}
.bio article {
  position: absolute;
  color: #8797a8;
  justify-content: left;
  text-align: left;
  font-size: 20px;
  font-family: "Georama", sans-serif;
  font-weight: 400;
  line-height: 30px;
  top: 330px;
  float: left;
  left: 0px;
}
/* .profile-img{
  position: relative;
  top: 50px;
  right: -750px;
  width: 300px;
  height: 316px;
  overflow: hidden;
  border: 4px solid #e2ecf7;
  box-shadow: 10px 10px 20px 0px #3c3939;
  border-radius: 20px;
  animation: blobrotate 5s infinite, growAndSlant 5s infinite;
}
@keyframes blobrotate {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

@keyframes growAndSlant {
  0%, 100% {
    transform: scaleY(1) skewX(0);
  }
  25%, 75% {
    transform: scaleY(1.1) skewX(-5deg);
  }
  50% {
    transform: scaleY(1.1) skewX(5deg);
  }
}
.profile-img img {
  top: 30px;
  width: 300px;
  height: 300px;
  position: relative;
  transform: scale(3);
} */

.prosocial{
  position: relative;
  background-color: #E9F1F9;
  width: 300px;
  left: 530px;
}
.prosocial .icon {
  position: relative;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid #08203A;
}
.profile-img img {
  position: relative;
  border-radius: 16px;
  filter: drop-shadow(10px 10px 20px 0px #3c3939);
  height: 30rem;
  width: 25rem;
  top: 0px;
  left: 350px;
  object-fit: cover;
}

.buttons {
  position: relative;
  font-size: 18px;
  font-family: "Georama", sans-serif;
  width: 700px;
  top: -40px;
  left: 360px;
}
.knw-button {
  font-size: 18px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  border: 2px solid grey;
  margin: 10px;
  padding: 5px;
  background: linear-gradient(90deg, #e2ecf7 50%, #ffffff 100%);
  transition: all 0.5s ease;
  cursor: pointer;
}
.dnw-button {
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  border: 2px solid grey;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  background: linear-gradient(90deg, #e2ecf7 50%, #ffffff 100%);
  transition: all 0.5s ease;
}
.knw-button:hover {
  border: 2px solid transparent;
  color: white;
  /* background: linear-gradient(45deg, #e6017f 0%, #670db0 100%); */
  box-shadow: inset 0 0 12px 12px white, inset 0 0 3px 2px white;
  background: linear-gradient(to right, #e6017f, #670db0);
  transform: translateY(-0.25em);
}
.dnw-button:hover {
  border: 2px solid transparent;
  color: white;
  /* background: linear-gradient(45deg, rgba(230,1,127,1) 0%, rgba(103,13,176,1) 100%); */
  box-shadow: inset 0 0 12px 12px white, inset 0 0 3px 2px white;
  background: linear-gradient(to right, #e6017f, #670db0);
  transform: translateY(-0.25em);
}
.booklabel{
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 200px;
  margin: 0 auto;
  width: 550px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 1px 6px #8797a8;
  color: #e6017f;
}
.booklabel p{
  display: table-row;
  white-space: nowrap;
  padding-left: 100%; 
  animation: marquee 28s linear infinite;
}
@keyframes marquee {
  0%   { transform: translate(100%, 0); }
  100% { transform: translate(-100%, 0); }
}
.bookschedule a {
  position: relative;
  text-decoration: none;
  top: 250px;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 15px 15px 10px 15px;
  margin: 0;
  color: black;
  background: linear-gradient(90deg, #e2ecf7 50%, #ffffff 100%);
  border: 2px solid grey;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.bookschedule a:hover{
  color: #e2ecf7;
  background: linear-gradient(to right, #e6017f 0%, #670db0 100%);
}

@media only screen and (max-width: 768px) {
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
}
@media only screen and (min-width: 992px) and (max-width: 1023px) {
}
@media only screen and (min-width: 1024px) {
}
