.profile-container {
  position: relative;
  /* background-color: #E2ECF7; */
  /* background: linear-gradient(90deg, rgba(226,236,247,1) 50%, rgba(255,255,255,1) 100%);  */
  top: 150px;
  height: 600px;
  width: 1400px;
  align-items: center;
  scroll-behavior: smooth;
}
.bio {
  position: relative;
  font-family: "poppins", Helvetica, sans-serif;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  right: 100px;
}
.bio h1 {
  position: relative;
  color: #000000;
  font-size: 96px;
  font-weight: bold;
  float: left;
  top: 100px;
}
.bio h1 span {
  color: #e6017f;
}
.bio h3 {
  position: relative;
  color: #000000;
  font-size: 48px;
  font-weight: bold;
  float: left;
  right: 515px;
  top: 200px;
}
.bio article {
  position: absolute;
  color: #8797a8;
  justify-content: left;
  text-align: left;
  font-size: 20px;
  font-family: "Georama", sans-serif;
  font-weight: 400;
  line-height: 30px;
  top: 260px;
  float: left;
  left: 5px;
  width: 60%;
}
/* .profile-img{
  position: relative;
  top: 50px;
  right: -750px;
  width: 300px;
  height: 316px;
  overflow: hidden;
  border: 4px solid #e2ecf7;
  box-shadow: 10px 10px 20px 0px #3c3939;
  border-radius: 20px;
  animation: blobrotate 5s infinite, growAndSlant 5s infinite;
}
@keyframes blobrotate {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

@keyframes growAndSlant {
  0%, 100% {
    transform: scaleY(1) skewX(0);
  }
  25%, 75% {
    transform: scaleY(1.1) skewX(-5deg);
  }
  50% {
    transform: scaleY(1.1) skewX(5deg);
  }
}
.profile-img img {
  top: 30px;
  width: 300px;
  height: 300px;
  position: relative;
  transform: scale(3);
} */

.profile-img img{
  position: relative;
  border-radius: 16px;
  filter: drop-shadow(10px 10px 20px 0px #3c3939);
  height: 25rem;
  width: 20rem;
  top: 0px;
  left: 320px;
  object-fit: fill;
  background-color: #e2ecf7;
  transform: scale(1.5);
}

.buttons {
  position: relative;
  font-size: 18px;
  font-family: "Georama", sans-serif;
  width: 400px;
  top: 10px;
  left: 190px;
}
.knw-button {
  text-decoration: none;
  color: black;
  border-radius: 10px;
  border: 2px solid grey;
  margin: 10px;
  padding: 10px;
  background: linear-gradient(90deg, #e2ecf7 50%, #ffffff 100%);
  transition: all 0.5s ease;
}
.dnw-button {
  cursor: pointer;
  text-decoration: none;
  color: black;
  border: 2px solid grey;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background: linear-gradient(90deg, #e2ecf7 50%, #ffffff 100%);
  transition: all 0.5s ease;
}
.knw-button:hover {
  border: 2px solid transparent;
  color: white;
  /* background: linear-gradient(45deg, #e6017f 0%, #670db0 100%); */
  box-shadow: inset 0 0 12px 12px white, inset 0 0 3px 2px white;
  background: linear-gradient(to right, #e6017f, #670db0);
  transform: translateY(-0.25em);
}
.dnw-button:hover {
  border: 2px solid transparent;
  color: white;
  /* background: linear-gradient(45deg, rgba(230,1,127,1) 0%, rgba(103,13,176,1) 100%); */
  box-shadow: inset 0 0 12px 12px white, inset 0 0 3px 2px white;
  background: linear-gradient(to right, #e6017f, #670db0);
  transform: translateY(-0.25em);
}

@media only screen and (max-width: 768px) {
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
}
@media only screen and (min-width: 992px) and (max-width: 1023px) {
}
@media only screen and (min-width: 1024px) {
}
