.profile-container {
  position: relative;
  top: 70px;
  height: 740px;
  width: 1800px;
  align-items: center;
  /* background-color: green; */
}

.bio {
  position: relative;
  width: 650px;
  height: 400px;
  top: 150px;
  left: 400px;
}
.backname h1{
  position: absolute;
  top: 260px;
  left: 200px;
  font-family: "Dancing Script", cursive;
  color: #9da9a0;
  font-size: 242px;
  
  justify-content: center;
  text-align: center;
  align-items: center;
  opacity: 0.03;
}
.bio h1 {
  position: relative;
  color: white;
  font-size: 72px;
  font-weight: bolder;
  float: left;
  top: 0px;
  left: 0px;
}
.bio h2 {
  color: black;
  position: relative;
  color: white;
  font-size: 42px;
  font-weight: bolder;
  top: 80px;
  right: 80px;
}
.bio article {
  position: absolute;
  color: white;
  justify-content: left;
  text-align: left;
  font-size: 20px;
  font-family: "Georama", sans-serif;
  font-weight: 400;
  line-height: 30px;
  top: 150px;
  float: left;
  left: 0px;
}

.prosocial{
  position: relative;
  background: linear-gradient(115deg, rgba(226,236,247,1) 0%, rgba(255,255,255,1) 100%);
  /* box-shadow: 0px 10px 20px 0px rgb(189, 189, 189); */
  width: 200px;
  left: 1400px;
  top: -330px;
  transition: all 0.5s;
  border-radius: 4px;
}
.prosocial .icon {
  position: relative;
  margin: 5px;
  border-radius: 50%;
  border: 1px solid #babec3;
}
.prosocial .icon:hover{
  border: 2px solid #654c4f;
}
.profile-img img {
  position: relative;
  border-radius: 16px;
  filter: drop-shadow(10px 10px 20px 0px #3c3939);
  height: 25rem;
  width: 20rem;
  top: -320px;
  left: 350px;
  object-fit: cover;
}

.buttons {
  position: relative;
  font-size: 18px;
  font-family: "Georama", sans-serif;
  width: 700px;
  top: -350px;
  left: 340px;
}
.knw-button {
  font-size: 18px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  border: 2px solid grey;
  margin: 10px;
  padding: 5px;
  background: linear-gradient(90deg, #e2ecf7 50%, #ffffff 100%);
  transition: all 0.5s ease;
  cursor: pointer;
}
.dnw-button {
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  border: 2px solid grey;
  border-radius: 7px;
  margin: 10px;
  padding: 5px;
  background: linear-gradient(90deg, #e2ecf7 50%, #ffffff 100%);
  transition: all 0.5s ease;
}
.knw-button:hover {
  border: 1px solid white;
  color: white;
  /* background: linear-gradient(45deg, #e6017f 0%, #670db0 100%); */
  background: #654c4f;
  transform: translateY(-0.25em);
}
.dnw-button:hover {
  border: 2px solid transparent;
  color: white;
  /* background: linear-gradient(45deg, rgba(230,1,127,1) 0%, rgba(103,13,176,1) 100%); */
  box-shadow: inset 0 0 12px 12px white, inset 0 0 3px 2px white;
  background: linear-gradient(to right, #e6017f, #670db0);
  transform: translateY(-0.25em);
}
.booklabel{
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 200px;
  margin: 0 auto;
  width: 550px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 1px 6px white;
  color: white;
}
.booklabel p{
  display: table-row;
  white-space: nowrap;
  padding-left: 100%; 
  animation: marquee 28s linear infinite;
}
@keyframes marquee {
  0%   { transform: translate(100%, 0); }
  100% { transform: translate(-100%, 0); }
}
.bookschedule a {
  position: relative;
  text-decoration: none;
  top: 250px;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 15px 15px 10px 15px;
  margin: 0;
  color: black;
  background: linear-gradient(90deg, #ffffff 50%, #ffffff 100%);
  border: 2px solid grey;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.bookschedule a:hover{
  color: white;
  background: transparent;
}

@media only screen and (max-width: 768px) {
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
}
@media only screen and (min-width: 992px) and (max-width: 1023px) {
}
@media only screen and (min-width: 1024px) {
}
