@import url("https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400..700&family=Tangerine:wght@400;700&display=swap");

.landingpage {
  position: relative;
  top: 70px;
  height: 750px;
  width: 100%;
  /* background-color: red; */
}

.mySwiper{
    position: relative;
    width: 1800px;
    /* background-color: red; */
}
.landingpage .landingimg .slideitem img{
    position: relative;
    object-fit: cover;
}
.landingpage svg {
  position: relative;
  top: -310px;
  height: 400px;
  z-index: 1;
}

.wave-container {
    width: 100%;
    height: auto;
  }
  
  .wave-path {
    fill: #654c4f;
    fill-opacity: 1;
    animation: wave 7s infinite alternate;
  }
  
  @keyframes wave {
    0% {
      d: path("M0,128L60,112C120,96,240,64,360,74.7C480,85,600,139,720,138.7C840,139,960,85,1080,80C1200,75,1320,117,1380,138.7L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z");
    }
    100% {
      d: path("M0,128L60,144C120,160,240,192,360,186.7C480,181,600,139,720,128C840,117,960,139,1080,128C1200,117,1320,75,1380,53.3L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z");
    }
  }
  



.landingpage h1 {
  position: relative;
  bottom: 500px;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Allura", cursive;
  font-size: 52px;
  font-weight: 600;
  font-style: normal;
  z-index: 1;
}

.landingpage .button{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    width: 20%;
    left: 650px;
}
.landingpage a{
    font-size: 18px;
    position: relative;
    bottom: 490px;
    color: black;
    text-decoration: none;
    background-color: white;
    text-align: center;
    z-index: 1;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}